<html>
<head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"  rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="../public/style.css" rel="stylesheet">
  </head>
<body>
    <div class="container jumbotron">
        <h2 align="center" style="margin-bottom: 40px; margin-top: -20px;"> A Simple ToDo List App </h2>
        <form action ="/addtask" method="POST" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col">
                    <h2>Create Task</h2>
                    <input type="text" name="newtask" placeholder="add new task">        <button> Add Task </button>
                </div>
                <div class="col">
                    <h2> Added Task </h2>
                    <% for( var i = 0; i < task.length; i++){ %>
                         <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
                    <% } %>
                     <button formaction="/removetask" type="submit"> Remove </button>
                </div>
            </div>
        </form>
        <div>
            <h2> Completed task </h2>
            <% for(var i = 0; i < complete.length; i++){ %>
                <li><input type="checkbox" checked><%= complete[i] %> </li>
            <% } %>
        </div>
        
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>